<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>{{ TITLE }}</title>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
        <meta name='apple-mobile-web-app-capable' content='yes'>
        <link rel='stylesheet prefetch' href="{% static 'mediaGalleryLib/styles.css' %}">
        <script src="{% static 'photoswipeLib/jquery.min.js' %}"></script>
        <link rel='stylesheet prefetch' href="{% static 'photoswipeLib/photoswipe.min.css' %}">
        <link rel='stylesheet prefetch' href="{% static 'photoswipeLib/default-skin.min.css' %}">
    </head>
    <body id='bodyid'>
	    <div class='container'>
            {% block body %}{% endblock body %}
		</div>
        {% block extra_js %}{% endblock extra_js %}
        <div class='pswp' tabindex='-1' role='dialog' aria-hidden='true'>
            <div class='pswp__bg'></div>
            <div class='pswp__scroll-wrap'>
                <div class='pswp__container'>
                    <div class='pswp__item'></div>
                    <div class='pswp__item'></div>
                    <div class='pswp__item'></div>
                </div>
                <div class='pswp__ui pswp__ui--hidden'>
                    <div class='pswp__top-bar'>
                        <div class='pswp__counter'></div>
                        <button class='pswp__button pswp__button--close' title='Close (Esc)'></button>
                        <button class='pswp__button pswp__button--share' title='Share'></button>
                        <button class='pswp__button pswp__button--fs' title='Toggle fullscreen'></button>
                        <button class='pswp__button pswp__button--zoom' title='Zoom in/out'></button>
                        <div class='pswp__preloader'><div class='pswp__preloader__icn'><div class='pswp__preloader__cut'><div class='pswp__preloader__donut'></div></div></div></div>
                    </div>
                    <div class='pswp__share-modal pswp__share-modal--hidden pswp__single-tap'>
                        <div class='pswp__share-tooltip'></div>
                    </div>
                    <button class='pswp__button pswp__button--arrow--left' title='Previous (arrow left)'></button>
                    <button class='pswp__button pswp__button--arrow--right' title='Next (arrow right)'></button>
                    <div class='pswp__caption'>
                        <div class='pswp__caption__center'></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'photoswipeLib/photoswipe.js' %}"></script>
        <script src="{% static 'photoswipeLib/photoswipe-ui-default.min.js' %}"></script>
        <script src="{% static 'mediaGalleryLib/initPhotoSwipeFromDOM.js' %}"></script>
        <script>
            initPhotoSwipeFromDOM('.my-gallery');
        </script>
    </body>
</html>
<!DOCTYPE html>