{% extends 'gallery/base.html' %}

{% load photo_tags %}

{% block body %}
	{% if folders %}
		<ul>
		{% for folder in folders %}
			<li class='directories'><a class='icon dir' href="{{ folder.hash }}">{{ folder.path }}</a></li>
		{% endfor %}
		</ul>
	{% endif %}
	{% if files %}
	    <div class="gallery">
			<div class=my-gallery>
				{% for file in files %}
					<figure><a href="media/{{ file.hash }}" data-size="{{ file.size }}"><img src="data:image/jpeg;charset=utf-8;base64,{{ file.thumb }}" width="100" height="100"></a></figure>
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock body %}

{% block extra_js %}

{% endblock extra_js %}
